.ConstructEditor {
  position: absolute;
  top: 0px;

  &__color-picker {
    position: absolute;
    left: 110px;
    top: 20px;
    cursor: default;

    .swatches-picker {
      margin-top: 10px;
    }
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    // margin-left: 20px;
  }
 .Toolbar__tool-selector {
   // margin-top: 20px;
   position: relative;
   .PixiMapSpriteContainer {
     position: absolute;
      top: 5px;
      left: 5px;
   }
 }
 .Toolbar__tool-container {
   // margin-top: 20px;
   .Toolbar__tool-selector {
     // margin-top: 0px;
   }
 }
  &__menu-item {
    height: 40px;
    width: 40px;
    background: white;
    font-size: 35px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;

    &--text {
      font-size: 20px;
      font-family: Courier;
      width: auto;
      height: 25px;
    }
  }
}
