.Creator {
  display: flex;
  flex-wrap: wrap;
  background: #0f0f0f;

  &__color-picker {
    position: absolute;
    top: 70px;
    cursor: default;
    z-index: 1;
  }

  &__category-container {
    // width: 10%;
    // margin: 10px;
    width: 120px;
    z-index: 1;
  }

  &__category {
    color: #ccc;
    font-size: 30px;
    background: #0f0f0f;
    width: 100%;


    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    // border: 1px solid rgba(255,255,255,0.5);
    padding: 0px 0px;
    margin: 2px 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;

    &-top {
      min-height: 40px;
      .fa-chevron-down {
        color: #eee;
      }

      height: 36px;
    }

    &--selected {
      -moz-box-shadow: 0 0 20px #fff;
      -webkit-box-shadow: 0 0 20px #fff;
      box-shadow: 0px 0px 20px #fff;
      cursor: pointer;
    }

    cursor: pointer;

    &:hover {
      background-color: #333;
    }

    &-close {
      width: 100%;
      min-height: 40px;
      &:hover {
        background-color: #333;
      }
    }

    &-item {
      display:flex;
      background: #0f0f0f;
      font-size: 20px;
      // border-top: 1px solid rgba(255,255,255,0.5);
      min-height: 40px;
      align-items: center;
      justify-content: center;
      padding: 5px 6px;

      &:hover, &--selected {
        background-color: #333;
      }
    }
  }
}
