@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';
@import 'animate';
@import 'contextMenu.css';
@import './ConstructEditor.scss';
@import './PlayerUI.scss';
@import './EditorUI.scss';
@import './dark.min.css';
@import './SequenceEditor.scss';
@import './WorldManager.scss';
@import './MediaManager.scss';
// @import './slideout.scss';
@import './Modal.scss';
@import './Creator.scss';
@import './Inventory.scss';
@import './loader.scss';
@import './GameLogs.scss';
@import './Collapsible.scss';

#GameContainer {
  position: relative;
}

.LiveEditor {
  &__close {
    position: fixed;
    top: 60px;
    right: 0px;
    z-index: 1;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: #222;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: #333;
    }
  }

  &__title {
    width: 100%;
    background-color: #222;
    font-weight: bold;
    font-size: 20px;
    padding: 18px;
  }

  .react-dat-gui {
    width: 400px;
    margin-right: 40px;
    margin-top: 60px;
  }

  .WorldLive, .HeroLive {
    .react-dat-gui {
      width: 400px;
    }
  }
}

html {
  // font-size: $root-font-size;
  // font-family: $font-family;
  // max-width: $page-width;
  // margin: 0 auto;
  // text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0px;
  // overflow-y: hidden;
  background: #333;
  overscroll-behavior-x: none;
}

.Toastify__toast-container {
  z-index: 1000;

  .Toastify__toast--default {
    background: #19191a;
    color: white;

    .Toastify__toast-body {
      text-align: center;
      font-family: Courier;
    }
  }
}

.swal-wide{
  width:850px !important;
}

.swal2-title {
  font-family: Courier;
}

.swal-modal-input-label {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: Courier;
}

.swal-modal-input {
  width: 500px;
  max-width: 80%;
  height: 20px;
  font-size:20px;
  font-family: Courier;
}

textarea.swal-modal-input{
  height: 60px;
}

select.swal-modal-input{
  height: 35px;
}

#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
