@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  // font-size: $root-font-size;
  // font-family: $font-family;
  // max-width: $page-width;
  // margin: 0 auto;
  // text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0px;
  overflow-y: hidden;
}

#jsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#objectjsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#play-editor {
  top:0;
  right:0;
  position: fixed;
  width:150px;
  color:white;
  background-color:#333;

  // .button {
  //   background-color:white; /* Green */
  //   border: 1px solid;
  //   color: black;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 16px;
  //   width: 100%;
  // }

  // background-color: #4CAF50; /* Green */

}

#gamejsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#herojsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}


.tool-feature.visible {
  display: initial;
}

.tool-feature.invisible {
  display:none;
}

.button {
  border: 1px solid black;
  background: white;
  color: black;
  padding:5px;
}
