@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';
@import 'animate';
@import 'contextMenu.css';
@import './ConstructEditor.scss';
@import './PlayerUI.scss';
@import './EditorUI.scss';
@import './dark.min.css';
@import './SequenceEditor.scss';
@import './WorldManager.scss';
// @import './slideout.scss';
@import './Modal.scss';
@import './Creator.scss';
@import './Inventory.scss';
@import './loader.scss';

#GameContainer {
  position: relative;
}

.LiveEditor {
  &__close {
    position: fixed;
    top: 60px;
    right: 0px;
    z-index: 1;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: #222;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: #333;
    }
  }

  &__title {
    width: 100%;
    background-color: #222;
    font-weight: bold;
    font-size: 20px;
    padding: 18px;
  }

  .react-dat-gui {
    width: 400px;
    margin-right: 40px;
    margin-top: 60px;
  }

  .WorldLive, .HeroLive {
    .react-dat-gui {
      width: 400px;
    }
  }
}

html {
  // font-size: $root-font-size;
  // font-family: $font-family;
  // max-width: $page-width;
  // margin: 0 auto;
  // text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0px;
  overflow-y: hidden;
  background: #333;
  overscroll-behavior-x: none;
}

.Toastify__toast-container {
  z-index: 1000;

  .Toastify__toast--default {
    background: #19191a;
    color: white;

    .Toastify__toast-body {
      text-align: center;
      font-family: Courier;
    }
  }
}

.swal-wide{
  width:850px !important;
}

.swal2-title {
  font-family: Courier;
}

.swal-modal-input-label {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: Courier;
}

.swal-modal-input {
  width: 500px;
  max-width: 80%;
  height: 20px;
  font-size:20px;
  font-family: Courier;
}

textarea.swal-modal-input{
  height: 60px;
}

select.swal-modal-input{
  height: 35px;
}

.play-button {
  position: fixed;
  right: 200px;
  box-sizing: border-box;
  height: 38px;
  top: 15px;

  border-color: transparent transparent transparent #444;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 19px 0 19px 30px;

  // paused state
  &.pause {
    border-style: double;
    border-width: 0px 0 0px 30px;
  }

  &.start {
    border-color: transparent transparent transparent white;
  }
}

#game-canvas, #playeditor-canvas {
  display: inline;
}

.is-edit-live {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: none;
  position: fixed;
  left: 405px;
  top:10px;
}
.tool-feature.visible {
  display: initial;
}

.tool-feature.invisible {
  display:none;
}

button {
  border: 1px solid black;
  background: white;
  width: 100%;
  color: black;
  padding:5px;
}

button.button {
  border: 1px solid black;
  background: grey;
  color: black;
  padding:5px;
}

button.selected{
  background: #c21e56;
}

#code-editor {
  width: 100%;
  height: 600px;
}

#editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  max-width: 1600px;
}

#jsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#objectjsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#play-editor {
  top:0;
  right:0;
  position: fixed;
  width:180px;
  color:white;
  background-color:#333;
  overflow-y: scroll;
  height: 100%;
  z-index: 3;
  position: fixed;
  // .button {
  //   background-color:white; /* Green */
  //   border: 1px solid;
  //   color: black;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 16px;
  //   width: 100%;
  // }

  // background-color: #4CAF50; /* Green */

}

#worldjsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#herojsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#gamestateeditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#branch-on-off {
  position: fixed;
  right: 200px;
  top: 10px;
  opacity: 0;
}

.onoffswitch {
    position: relative; width: 99px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 13px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "LIVE";
    padding-left: 10px;
    background-color: #C23434; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "BRANCH";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 13px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 68px;
    border: 2px solid #999999; border-radius: 13px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#subobject-template-options{
  display: flex;
  flex-direction: row;
}
