@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  // font-size: $root-font-size;
  // font-family: $font-family;
  // max-width: $page-width;
  // margin: 0 auto;
  // text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

body {
  margin: 0px;
  overflow-y: hidden;
  background: #0f0f0f;
}

#game-canvas {
  position: fixed;
  left: 0px;
}

.is-edit-live {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: none;
  position: fixed;
  left: 405px;
  top:10px;
}
.tool-feature.visible {
  display: initial;
}

.tool-feature.invisible {
  display:none;
}

button {
  border: 1px solid black;
  background: white;
  width: 100%;
  color: black;
  padding:5px;
}

button.button {
  border: 1px solid black;
  background: grey;
  color: black;
  padding:5px;
}

button.selected{
  background: #c21e56;
}

#editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  max-width: 1600px;
}

#jsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#objectjsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#play-editor {
  top:0;
  right:0;
  position: fixed;
  width:180px;
  color:white;
  background-color:#333;
  overflow-y: scroll;
  height: 100%;
  z-index: 3;
  position: fixed;
  // .button {
  //   background-color:white; /* Green */
  //   border: 1px solid;
  //   color: black;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 16px;
  //   width: 100%;
  // }

  // background-color: #4CAF50; /* Green */

}

#worldjsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#herojsoneditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}

#gamestateeditor {
  background:white;
  position: fixed;
  top:0;
  left:0;
  width:400px;
  height: 100%;
}
