.Inventory {
  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: auto auto auto;
  // grid-auto-rows: max-content;
  position: absolute;
  width: 100%;

  &__item {
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  &__item-count {
    margin-left: auto;
    margin-right: 15px;
    order: 2;
  }

  &__sprite {
    margin: 20px;
    width: 32px;
    height: 32px;

    &--box {
      border: 1px solid #fff;
    }
  }
}
