.loader {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  font-family: Courier;
  &:after {
    color: #777;
    font-size: 20px;
    content: 'Loading...'
  }
}

.blur {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  font-family: Courier;
  &:after {
    color: white;
    font-size: 20px;
    content: 'Please click the screen to play'
  }
}

// .loader,
// .loader:before,
// .loader:after {
//   width: 2.5em;
//   height: 2.5em;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//   -webkit-animation: load7 1.8s infinite ease-in-out;
//   animation: load7 1.8s infinite ease-in-out;
// }
// .loader {
//   position: absolute;
//   top: 45%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transform: -webkit-translate(-50%, -50%);
//   transform: -moz-translate(-50%, -50%);
//   transform: -ms-translate(-50%, -50%);
//   color: #ffffff;
//   font-size: 10px;
//   text-indent: -9999em;
//   -webkit-transform: translateZ(0);
//   -ms-transform: translateZ(0);
//   transform: translateZ(0);
//   -webkit-animation-delay: -0.16s;
//   animation-delay: -0.16s;
// }
// .loader:before,
// .loader:after {
//   content: '';
//   position: absolute;
//   top: 0;
// }
// .loader:before {
//   left: -3.5em;
//   -webkit-animation-delay: -0.32s;
//   animation-delay: -0.32s;
// }
// .loader:after {
//   left: 3.5em;
// }
// @-webkit-keyframes load7 {
//   0%,
//   80%,
//   100% {
//     box-shadow: 0 2.5em 0 -1.3em;
//   }
//   40% {
//     box-shadow: 0 2.5em 0 0;
//   }
// }
// @keyframes load7 {
//   0%,
//   80%,
//   100% {
//     box-shadow: 0 2.5em 0 -1.3em;
//   }
//   40% {
//     box-shadow: 0 2.5em 0 0;
//   }
// }


.loading-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.loading-spinner div {
  transform-origin: 20px 20px;
  animation: lds-spinner 1.2s linear infinite;
}
.loading-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1.5px;
  left: 18.5px;
  width: 3px;
  height: 9px;
  border-radius: 20%;
  background: #fff;
}
.loading-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
