#PlayerUIContainer {

}

.PlayerUI {
  text-align: center;
}

.DialogueBox--options {
  overflow-y: scroll;
}

.DialogueBox {
  background-color: #19191a;
  font-family: Courier;
  font-size: 22px;
  color: white;
  width: 500px;
  padding: 15px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: left;
  position: absolute;
  max-width: 800px;
  bottom: 5%;
  height: 75px;

  &__arrow {
    font-size: 22px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    animation: blinker 1s step-start infinite;
  }

  &__option {
    padding: 5px 0px;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
