#PlayerUIContainer {

}

.PlayerUI {
  text-align: center;
}

.DialogueBox {
  background-color: rgba(255,255,255, 0.2);
  font-family: Courier;
  font-size: 22px;
  color: white;
  width: 80%;
  padding: 20px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: left;
  position: absolute;
  max-width: 800px;
  bottom: 5%;
  height: 200px;
}
