#PlayerUIContainer {

}

.ControlsInfo {
  text-align: center;
  color: white;

  // &__content {
  //   height: 100%;
  //   overflow-y: scroll;
  // }

  &__item {
    font-size: 20px;
    padding: 20px;

    display: flex;
    align-items: center;
  }

  &__header {
    font-size: 30px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
  }

  &__key {
    width: 30%;
    text-align: center;
    padding: 10px;
    div {
      margin: 0 auto;
      transform: scale(3);
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-crisp-edges;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
    }
  }

  &__behavior {
    text-align: left;
    width: 70%;
  }
}

.Sprite {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.PlayerUI {
  text-align: center;
  font-family: Courier;
}

.ShortcutPanel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  &__main-menu {
    color: #eee;
    font-size: 10px;
    padding: 5px;
  }
}

.DialogueBox--options {
  overflow-y: scroll;
}

.DialogueBox {
  background-color: #19191a;
  font-family: Courier;
  font-size: 22px;
  color: white;
  width: 500px;
  padding: 15px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: left;
  position: absolute;
  max-width: 800px;
  bottom: 5%;
  height: 75px;

  &__arrow {
    font-size: 22px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    animation: blinker 1s step-start infinite;
  }

  &__option {
    padding: 5px 0px;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
